.containerboards {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    display: flex;
}

.window-header {
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
    z-index: 1;
}